In [1]:
# Print numbers 1 through 10

[num for num in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# Print only even numbers

[even_num for even_num in range(0,11,2)]

[0, 2, 4, 6, 8, 10]

In [5]:
# Print only odd numbers

[odd_num for odd_num in range (0,11) if odd_num % 2 != 0]

[1, 3, 5, 7, 9]

In [6]:
# List in list

[[num] for num in range(1,11)]

[[1], [2], [3], [4], [5], [6], [7], [8], [9], [10]]

In [7]:
# Doing math with a list in a list
# Add 1 to to each value between 1 through 10

[[num + 1] for num in range(1,11)]

[[2], [3], [4], [5], [6], [7], [8], [9], [10], [11]]

In [9]:
# Adding more objects to a list in a list
# Prints the initial number between 1 and 10
# Add the initial number by 1
# Multiplies he initial by 2

[[num, num + 1, num * 2] for num in range(1,11)]

[[1, 2, 2],
 [2, 3, 4],
 [3, 4, 6],
 [4, 5, 8],
 [5, 6, 10],
 [6, 7, 12],
 [7, 8, 14],
 [8, 9, 16],
 [9, 10, 18],
 [10, 11, 20]]

In [15]:
# Numbers up to 51 that are divisible by 5
# Formatting a string and printing the result of each number divided by 5
# Stores result and number into a list within a list

[[num, 'This number divided by 5 is: {result}'.format(result = int(num / 5))] for num in range(51) if num % 5 == 0]

[[0, 'This number divided by 5 is: 0'],
 [5, 'This number divided by 5 is: 1'],
 [10, 'This number divided by 5 is: 2'],
 [15, 'This number divided by 5 is: 3'],
 [20, 'This number divided by 5 is: 4'],
 [25, 'This number divided by 5 is: 5'],
 [30, 'This number divided by 5 is: 6'],
 [35, 'This number divided by 5 is: 7'],
 [40, 'This number divided by 5 is: 8'],
 [45, 'This number divided by 5 is: 9'],
 [50, 'This number divided by 5 is: 10']]

In [37]:
# Grabbing columns in list within lists
# Column 2 within our list_of_lists grabs every value of each list at index 1

list_of_lists = [[num, num + 1, num + 2] for num in range(51)]

column2 = [row[1] for row in list_of_lists]
print(column2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51]

In [36]:
# Creates a list within a list
# Up to 51
# Each list contains 3 integer values
# Grabs last value of each each list and stores it within another list

new_list = [[number_value, number_value + 1, number_value + 2] for number_value in range(51)]

last_column = [row[2] for row in new_list]
print(last_column)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]

In [49]:
# Going diagnol

this_list = [[num, num + 1, num + 2] for num in range(1,4)]
print("List:\n",this_list)

diagnol_result = [this_list[num][num] for num in [0,1,2]]
print("Diagnol Result:\n",diagnol_result)

List:
 [[1, 2, 3], [2, 3, 4], [3, 4, 5]]
Diagnol Result:
 [1, 3, 5]